#top-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 48px;
    /*menu is inline-block so
    it will get centered*/
    text-align: center;
    background-color: #00979f;
    box-shadow: 0 0 16px 0;
}

#main {
    position: absolute;
    top: 48px;
    /* (100vh - banner-height) */
    height: calc(100vh - 48px);
    width: 100%;
    overflow-y: scroll;
}

#content {
    max-width: 1080;
    padding: 0 16px;
    margin: 0 auto;
}

#footer {
    width: 100%;
    margin-top: 5px;
    background-color: #00979f;
    text-align: center;
    font-size: 12px;
    color: white;
    line-height: 3em;
}

#footer > a {
    text-decoration: none;
    color: white;
}

#logo {
    position: absolute;
    display: block;
    margin: 4px;
    width: 40px;
    height: 40px;
}

.color-hover:hover {
    background-color: #20b7bf;
}

#menu {
    display: inline-block;
    height: 40px;
    margin: 4px;
    font-size: 0;
    font-family: helvetica;
}

.nav-but {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 0 4px 0 4px;
    margin: 0 5px 0 5px;
}

#profiles {
    position: absolute;
    right: 0;
    top: 0;
}

.profile {
    margin: 4px;
    width: 40px;
}
