body {
    margin: 0;
    padding: 0;
    overflow: auto;
    /*sans-serif for non-curly*/
    font-family: serif;
}

h1 {
    font-family: helvetica;
}

img {
    width: 100%;
}

.half_img {
    width: calc(100%/2);
    display: inline-block;
}

.third_img {
    width: calc(100%/3);
    display: inline-block;
}

.no_underline {
    text-decoration: none;
}

p {
    font-size: 18px;
}

pre {
    border-radius: 6px;
    color: white;
    padding: 10px;
    background-color: #E75757;
    font-family: monospace;
}

/* to be continued... (<pre><code>)
code {
    font-family: monospace;
    background-color: #3
    */
