/*
https://www.cssfontstack.com/
*/

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    /*sans-serif for non-curly*/
    font-family: serif;
}

h1 {
    font-family: helvetica;
}

img {
    width: 100%;
}

.half_img {
    width: calc(100%/2);
    display: inline-block;
}

.third_img {
    width: calc(100%/3);
    display: inline-block;
}

.no_underline {
    text-decoration: none;
}

p {
    font-size: 16px;
}

code, pre {
    font-family: monospace;
    word-wrap: pre-wrap;
    background-color: #efefef;
}

video {
    width: 100%;
}
