html {
	min-width: 1280px;
}

body {
	margin: 0;
	padding: 0;
	overflow: auto;
}

#banner {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	background-color: #00979F;
	max-width: none;
	height: 100px;
	box-shadow: 0 -20px 20px 20px;
}

#logo {
	position: relative;
	display: block;
	padding: 5px;
	width: 80px;
	height: 80px;
	top: 5px;
	left: 5px;
	color: white;
	cursor: pointer;
}

#logo:hover, .logo_link:hover, .nav_button:hover, .nav_dropdown:hover{
	background-color: #20B7BF;
}

#logo_txt {
	position: relative;
	text-align: center;
	font-family: courier;
	font-size: 14px;
	line-height: 20px;
}

#logo_img {
	display: block;
	margin: auto;
	width: 60px;
	height: 60px;
}

#menu {
	position: relative;
	display: inline-block;
	height: 40px;
	padding: 10px;
	bottom: 45px;
	left: 50%;
	transform: translate(-50%, 0);
	
	/*margin-left: -131.5px;	 /*half of the menu div which doesn't change but does w/ font-size */
	font-size: 0;
}

.nav_button {
	display: inline-block;
	/* background-color: #00B0E0; */
	height: 100%;
	text-align: center;
	line-height: 40px;
	color: white;
	font-family: courier;
	font-size: 20px;
	margin: 0px 2px 0px 2px;
	padding: 0px 6px 0px 6px;
	cursor: pointer;
}

#dropdown {
	display: none;
	position: absolute;
	width: 112px;
	left: 74px;
	z-index: 1;
}

.nav_dropdown {
	height: 100%;
	background-color: #00979F;
	text-align: center;
	line-height: 40px;
	color: white;
	font-family: courier;
	font-size: 15px;
	margin: 0px 2px 0px 2px;
	padding: 0px 6px 0px 6px;
	cursor: pointer;
}

.nav_dropdown:hover { display: block; }


#logos_container{
	position: fixed;
	right: 0;
	top: 0;
	padding: 4px;
}

.logo_link {
	display: inline-block;
	padding: 2px;
	width: 35px;
	cursor: pointer;
}


#main {
	position: relative;
	margin-top: 100px;
	padding: 10px 0px 10px 0px;
	width: 100%;
}

h1 {
	margin: 0;
	padding: 12px;
	text-align: center;
	font-size: 45px;
}

#main_container {
	width: 1280;
	margin: 0 auto;
	font-family: courier
}

a {
	font-family: inherit;
	font-size: inherit;
}

ol {
	list-style-type: tibetan;
	padding-left: 2em;
}

p {
	margin: 0;
	padding: 6px;
	font-size: 16px;
	font-family: courier;
}

pre {
	border-radius: 6px;
	color: white;
	padding: 10px;
	background-color: #E75757;
}

img {
	display: block;
	margin: 0 auto;
	width: 90%;
}

td {
	padding: 25px;	
}

.project_img {
	width: 100%;
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 60px black;
}

canvas {
	border: 0;
	margin: 0;
	background-color: black;
}

#footer {
	bottom: 0;
	width: 100%;
	background-color: #00979F;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	font-size: 12px;
	font-family: lucida console;
}

/* div {border: 3px solid pink} */
