.text-article,.story-intro{font-size:1.2rem}.text-article
strong{font-weight:bold}.text-article [dir=rtl]{unicode-bidi:bidi-override !important;direction:unset !important;text-align:right}.text-article
blockquote{font-style:italic;font-family:Georgia,Times,"Times New Roman",serif;padding:2px
8px 2px 20px;border-style:solid;border-color:#ccc;border-width:0;border-left-width:5px;display:block;margin-block-start:1em;margin-block-end:1em;margin-inline-start:40px;margin-inline-end:40px}.text-article blockquote
p{display:block;margin-block-start:1em;margin-block-end:1em;margin-inline-start:0px;margin-inline-end:0px}
